---
import BaseLayout from '@layouts/Layout.astro';
import App from '@components/App.svelte';
import HTMLLayout from '@layouts/HTMLLayout.astro';
import { IsEmptyString, ParseCookies } from 'lib/utils/UtilsFuncs';
import { IsPasswordValid } from 'lib/utils/ServerFuncs';

const LoginRedirect = () => Astro.redirect('/login')

// Check Connected, if not redirect to login page
const cookies = Astro.request.headers.get('cookie');
if (IsEmptyString(cookies)) return LoginRedirect()

const ParsedCookie = ParseCookies(cookies);

if (!ParsedCookie || !ParsedCookie["UserPsw"]) return LoginRedirect();
if (IsEmptyString(ParsedCookie["UserPsw"])) return LoginRedirect();
if (ParsedCookie["SessionActive"] !== "yes") {
	const IsRightPassword = await IsPasswordValid(ParsedCookie["UserPsw"])
	if (!IsRightPassword) return LoginRedirect();
}
---

<HTMLLayout>
	<BaseLayout>
		<section>
			<h1 class="text-center text-2xl sm:text-4xl font-mono mb-3 text-primary font-semibold">Go Youtube Downloader</h1>
			<App client:load />
		</section>
	</BaseLayout>
</HTMLLayout>