---
import AppInit from "../scripts/AppInit.svelte";
import AlertManager from "@components/Layouts/AlertManager.svelte";
---

<html lang="en" data-theme="halloween">

<head>
  <meta charset="utf-8" />
  <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />
  <link rel="icon" href="/IMG/favicon.png" />
  <link rel="apple-touch-icon" sizes="192x192" href="/IMG/logo-goytdl-192.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#f0abfc" />
  <meta name="msapplication-navbutton-color" content="#1FB2A6" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <!-- App -->
  <meta name="keywords" content="Golang, Youtube Downloader" />
  <meta name="author" content="Ilingu" />
  <meta name="application-name" content="Go Ytdl" />
  <meta name="description" content="Simple Youtube downloader written in go" />
  <title>GoYtdl</title>
  <!-- Google -->
  <meta name="robots" content="index,follow,noodp" />
  <meta name="googlebot" content="index,follow" />
  <!-- Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <noscript style="font-size: '40px'; font-family: 'sans-serif'; text-align: 'center'">
    {"> "}To use this app,{" "}
    <a href="https://www.enable-javascript.com/" target="_blank" rel="noopener noreferrer" style="color: '#f0abfc'">
      please enable JavaScript.
      <br />
    </a>
  </noscript>

  <AppInit client:load />
  <AlertManager client:load />
  <slot />
</body>

</html>